.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 16px;
  border-radius: 32px;
  font-weight: 600;
  line-height: 24px;

  &:disabled {
    cursor: auto;
  }
}

.contained {
  height: 56px;
  padding: 16px 32px;
  background-color: var(--background-brand);
  border: 1px solid var(--background-brand);
  color: var(--text-invert);

  &:hover {
    background-color: var(--background-hover-primary);
    border-color: var(--background-hover-primary);
  }

  &:focus-visible {
    border-color: var(--background-brand-extralight);
  }

  &:disabled {
    background-color: var(--background-brand-extralight);
    border-color: var(--background-brand-extralight);
  }
}

.text {
  height: 56px;
  padding: 16px 32px;
  border: none;
  color: var(--text-secondary);
  background-color: var(--background-primary);

  &:hover {
    background-color: var(--background-tetriary);
  }

  &:disabled {
    color: var(--text-tertiary);
  }
}
